*{
    box-sizing: border-box;
}

body{
    background-color: rgb(63, 40, 72);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
h3,p{
    color: white
}
.topnav {
    overflow: hidden;
    background-color: rgb(47, 46, 51);
    padding: 10px;
}

form{
    width: 25%;
    padding: 10px;
    background-color: rgb(60, 50, 69);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
input {
    all:unset;
    font: 15px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
}
.thumbnail {
    height:250px;
    width: 200px;
    border-radius: 19px;
}
.column {
    float: left;
    width: 25%;
    padding: 10 px 10 px;
}

.card {
    height: 25%;
    width: 250px;
    border-radius: 19px;
    padding: 15px;
    text-align:center;
    background-color: #d798ec;
}

header {
    background-color: #d798ec;
    color: #090000;
    padding: 1rem 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 0.5rem 0;
}
nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    /* padding: 1rem 0; */
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0px;
}